<footer class="site-footer">
  <div class="footer-group footer-logo">
  </div>

  <div class="footer-group footer-nav">
    {% include nav-items.html %}
  </div>

  <div class="footer-group">
    <p>4301 University Way NE<br/>Seattle, Washington</p>
    <p>206-632-0243<br/>lois@sweetalchemyicecreamery.com</p>
  </div>

  <div class="footer-group">
    <p>2016-2017 (c) Sweet Alchemy Ice Creamery, All Rights Reserved</p>
  </div>
</footer>

<script src="/js/jquery/jquery.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/animate_anchors.js"></script>
<script src="/js/lightbox.min.js"></script>
<script>
  // Lightbox options
  // http://lokeshdhakar.com/projects/lightbox2/
  lightbox.option({
    resizeDuration: 400,
    wrapAround: true,
    albumLabel: '%1 of %2'
  })
</script>