<header class="site-header" role="banner">
  <div class="wrapper header-nav">
    <nav class="navbar">
        <a class="logo" href="/">
          <img class="logo-image" src="/images/logo.png"/>
        </a>
        {% include nav-items.html %}
    </nav>
  </div>
</header>
