<ul class="nav navbar-nav">
  <li class="nav-item nav-item__flavors">
    <a class="nav-link" href="/flavors">Flavors</a>
  </li>
  <li class="nav-item nav-item__about">
    <a class="nav-link" href="/#about">About</a>
  </li>
  <li class="nav-item nav-item__gallery">
    <a class="nav-link" href="/gallery">Gallery</a>
  </li>
  <li class="nav-item nav-item__contact">
    <a class="nav-link" href="/#contact">Contact</a>
  </li>
</ul>