<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="navbar-brand hidden-xs-down navbar-logo" href="/">{{ site.brand }}</div>
    <button class="navbar-toggler hidden-sm-up collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#CollapsingNavbar"
            aria-controls="CollapsingNavbar"
            aria-expanded="false"
            aria-label="Toggle navigation">
        &#9776;
    </button>
    <a class="navbar-brand navbar-brand--mobile hidden-sm-up navbar-logo" href="/">{{ site.brand }}</a>
    <div class="collapse navbar-toggleable-xs pull-sm-right" id="CollapsingNavbar">
        {% include nav-items.html %}
    </div>
</nav>