//
// Global Style
//

body {
  color: $slate-grey;
  font-family: $lato-font-family;
  font-size: 1.5em;
  line-height: 1.75em;
}

h1 {
  font-family: $playfair-font-family;
  font-size: 2.35em;
  font-style: italic;
  line-height: 1.25em;
}

h2 {
  font-family: $playfair-font-family;
  font-size: 2.00em;
  font-style: italic;
  line-height: 1.5em;
}

h3 {
  font-family: $playfair-font-family;
  font-size: 1.8em;
  font-style: italic;
  line-height: 1.5em;
}

a {
  color: $pink;
  text-decoration: none;
  transition: color 0.4s ease-out;
}

strong {
  font-weight: bold;
  font-family: $lato-bold-font-family;
}

.overlay {
  width: 100%;
  height: 100%;

  &-dark {
    background-color: #000000;
    opacity: 0.2;
    position: absolute;
  }
}

.content {
  margin: auto;
  max-width: 800px;
}
