// Colors
$white: #fff;
$slate-grey: #6a6867;
$cream: #fdecbb;
$light-cream: #fef3d4;
$pink: #f0b5a4;
$charcoal: #414042;

// Text styles
$lato-font-family: 'Lato', Helvetica, sans-serif;
$lato-bold-font-family: 'Lato Bold', Helvetica, sans-serif;
$playfair-font-family: 'Playfair Display', Helvetica, sans-serif;

// Dimensions
$border-radius-sm: 4px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}
