.flavors {
  .nav-item__flavors a {
    color: $pink !important;
  }

  .hero {
    background-image: url(/images/hero-flavors.jpg);
    background-position: center;
    background-repeat: no-repeat;

    h1 {
      @include vertical-align();
      margin: 0;
      text-align: center;
    }
  }

  .flavor-list {
    list-style: none;

    $width: 200px;
    $height: 200px;

    &__item {
      border-style: solid;
      border-width: 5px;
      border-color: $white;
      position: relative;
      display: inline-block;
      margin: 5px;
      transition: border-color 0.4s ease-out;
      width: $width;
      height: $height;

      a {
        img {
          position: relative;
          width: $width;
          height: $height;
          z-index: 1;
        }

        .overlay-dark {
          width: $width;
          height: $height;
          z-index: 5;
          top: 0px;
          left: 0px;
        }

        h4 {
          color: $white;
          position: absolute;
          transition: color 0.4s ease-out;
          z-index: 10;
          left: 10px;
          top: 10px;
        }
      }
    }

    &__item:hover {
      border-color: $pink;

      h4 {
        color: $pink !important;
      }
    }
  }
}