.site-footer {
  color: $white;
  width: 100%;
  height: 300px;
  background-image: url(/images/footer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;

  .footer-group {
    display: inline-block;
    margin: 60px 30px 0 30px;
    vertical-align: top;

    @media(max-width: $screen-lg-min) {
      margin: 60px 20px 0 20px;
    }

    @media(max-width: $screen-md-max) {
      margin: 60px 15px 0 15px;
    }
  }

  .footer-logo {
    width: 135px; height: 120px;
    background-image: url(/images/logo-white.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left:100px
  }

  .footer-nav {

    .navbar-nav {
      li { 
        margin: 0px 0; 
        text-transform: uppercase;
        float: none;
        font-weight: 200;
        font-size: 1.0em;

        a { color: $white; padding: 0px 0px 5px 0px; }
        a:hover { color: $pink; background: none;}
      }
    }

    @media(max-width: $screen-sm-max) {
      display: none;
    }
  }
}
