.gallery {
  .nav-item__gallery a {
    color: $pink !important;
  }

  .hero {
    background-image: url(/images/hero-home.jpg);
    background-position: center;
    background-repeat: no-repeat;

    h1 {
      @include vertical-align();
      margin: 0;
      text-align: center;
    }
  }
}