// Block: navbar

.header-nav {
  .navbar {
    margin-bottom: 0;

    @include media-query(lg) {
      height: 5rem;
    }

    .navbar-nav {
      float: right;
      margin-right: 120px;
    }

    // Element: nav-item

    & .nav-item {
      cursor: pointer;
      padding-left: 1rem;
      padding-right: 1rem;
      border-radius: $border-radius-sm;
      text-transform: uppercase;

      .nav-link {
        @include media-query(lg) {
          font-size: 1.5rem;
          line-height: 3rem;
        }
      }
      a { color: $charcoal; }
      a:hover { color: $pink; background: none;}

    }

    .logo {
      position: absolute;
      left: 120px;
      z-index: 200;

      &-image {
        height: 120px;
        width: 120px;
      }
    }
  }
}


.hero {
  width: 100%;
  height: 500px;
  position: relative;

  h1 {
    color: $white;
    font-style: italic;
    font-size: 4.0em;
    margin: 100px 0 0 120px;
    position: absolute;
  }
}
