.home {
  .hero {
    background-image: url(/images/hero-home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;

    video {
      width: 100%;
      height: auto;
      position: absolute;
      top: -120px;

      @media(max-width: 900px) {
        display: none;
      }
    }
  }

  .about-body {
    padding-right: 10px;
  }

  .store-info {
    padding-left: 10px;
    padding-top: 100px;
  }

  .about-social {
    margin-top: 20px;
    i {
      font-size: 1.75em;
      padding-right: 12px;
    }
  }
}