<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body class="flavors">
  {% include header.html %}
  <section class="hero">
    <div class="overlay overlay-dark"></div>
    <h1>Our flavors</h1>
  </section>

  <section class="container container-flavors content" id="flavors">
    <ul class="flavor-list">
      {% for flavor in site.data.flavors %}
        <li class="flavor-list__item">
          <!-- <div class="col-md-6">
            <img src="/images/flavors/{{flavor.img}}" />
          </div>
          <div class="col-md-6">
            <h3>{{flavor.name}}</h3>
            <p>{{flavor.desc}}</p>
          </div> -->
          <a
            href="/images/flavors/{{flavor.img}}"
            data-lightbox="flavors"
            data-title="{{flavor.desc}}">
            <img src="/images/flavors/{{flavor.img}}" />
            <div class="overlay-dark"></div>
            <h4>{{flavor.name}}</h4>
          </a>
        </li>
      {% endfor %}
    </ul>
    <h3 style="text-align: center;">And many more!!</h3>
  </section>

  {% include footer.html %}
</body>
</html>
