<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body class="gallery">
  {% include header.html %}
  <section class="hero">
    <div class="overlay overlay-dark"></div>
    <h1>Gallery</h1>
  </section>

  <section class="container container-gallery content" id="gallery">
   
  </section>


  {% include footer.html %}
</body>
</html>
