<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body class="home">
  {% include header.html %}

  <section class="hero">
    <video autoplay="autoplay" loop="loop" muted="" width="300" height="150" src="/videos/sa_hero.webm" type="application/webm"></video>
    <div class="overlay overlay-dark"></div>
    <h1>Homemade small-batch<br/>artisan ice cream</h1>
  </section>

  <section class="container container-about content" id="about">
    <div class="row">
      <div class="about-body col-md-9">
        <h1>About</h1>
        <h3>Our Story</h3>
        <p>
          It all started when UW Art graduate Lois Ko set sail for realizing her life-long passion of making the best possible ice cream the Pacific Northwest had to offer. In early 2016, armed with an education from Penn State’s Food Science Course and her rebellious creativity, she opened Sweet Alchemy Ice Creamery in the heart of U-District, Seattle. She continues to pride herself on using ingredients from meticulously selected local farms to deliver the best natural taste through many creative flavors.
        </p>
        <h3>Our Ice Cream</h3>
        <p>
          Sweet Alchemy ice creamery is a WSDA certified creamery, dedicated to producing small batch, organic, and locally sourced ice cream. We craft our Sweet Cream base daily from organic ingredients, most of which are sourced within 100 miles of our storefront. Freshness is of the upmost importance to us, which is why we especially love the dairy from Fresh Breeze Organics, a family owned farm in Lynden, WA. The time from when the milk leaves Fresh Breeze’s grass-fed dairy pastures until reaching your cone is on average only one week. This commitment does not stop with our ice cream base— our sauces, toppings, flavor mix-ins, and waffle cones are also made from scratch in our small shop with ingredients we are proud to serve to our community.
        </p>
        <h3>Our Values</h3>
        <p>
            We are not only passionate about offering the best desserts in town; sustainability is also one of our core values. We partner with farms whose goals align with our own: to educate our community, lessen food waste, support organic practices, and to take excellent care of our environment. Within our store we do our part to divert waste from landfills by serving everything in compostable ware. 
        </p>
      </div>

      <div class="store-info col-md-3">
        <p>
        <strong>hours</strong><br/>
        Everyday: 11am-11pm
        </p>

        <p>
        <strong>location</strong><br/>
        4301 University Way NE Seattle, Washington
        </p>

        <p>
        <strong>phone</strong><br/>
        206-632-0243
        </p>

        <div class="about-social">
          <p>
            <a href="https://www.facebook.com/sweetalchemyseattle" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/sweetalchemyseattle" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://www.yelp.com/biz/sweet-alchemy-ice-creamery-seattle" target="_blank"><i class="fa fa-yelp" aria-hidden="true"></i></a>
          </p>
        </div>

      </div>

    </div>
  </section>

  <section class="container container-contact content" id="contact">
    <div class="row">
      <div class="col-md-12">
        <h1>Contact us</h1>

        <div>
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <a href="mailto:{{ site.email }}">
              {{ site.email }}
          </a>
        </div>

        <div>
          <i class="fa fa-phone" aria-hidden="true"></i>
          <a href="tel:{{ site.phone }}">
              {{ site.phone }}
          </a>
        </div>

      </div>
    </div>
  </section>

  {% include footer.html %}
</body>
</html>
